:root {
    --black-color: #222222;
    --black-grey-color: #222224;
    --pink-color: #F16D7F;
    --pink-background: #F1E4E6;
    --white-color: #FFF;
    --gray-bkg-color: #F8F8F8;
}

.header {
    background-color: #222222;
    position: relative;
    height: 75px;
}

body {
    font-family: Lato, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}
.size{
    max-width: 1600px;
    margin: 0 auto;
    
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header__button {
    background-color: transparent;
    border: none;
    padding: 10px 0 0 0;
}

.header__container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.header__menu-list {
    display: flex;
    align-items: center;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__menu-item:not(:last-child) {
    margin: 0 33px 0 0;
}

.header__navigation {
    position: absolute;
    display: none;
}

.name {
    display: flex;
}

.name__header-span {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
}

.name__header-span-pink {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    color: var(--pink-color);
}

.name__header {
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.name__content {
    width: 100%;
    padding: 335px 0 0 64px;
    background-color: var(--pink-background);
}

.name__header {
    position: relative;
    padding: 0 0 0 16px;
}

.name__header::before {
    position: absolute;
    content: '';
    width: 12px;
    height: 100%;
    background-color: var(--pink-color);
    left: -12px;
}
.header__nav-list{
    background-color: #FFF;
    height: 764px;
    width: 232px;
    float: right;
    padding-top: 37px;
    padding-left: 34px;
}
.nav-list__item{
    
}
.nav-list__title{
    font-size: 14px;
line-height: 17px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 4px;
}
.nav-list__link{
    font-size: 14px;
line-height: 17px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--pink-color);
    text-decoration: none;
    margin-top: 20px;
}
.nav-list__sublist{
    padding-left: 20px;
    
}
.nav-sublist__item{
    padding-top: 11px;
}
.nav-sublist__link{
    font-size: 14px;
line-height: 17px;
    font-weight: 400;
    text-transform: uppercase;
    color: #6F6E6E;
    text-decoration: none;
}
.nav-list__link-text{
    padding-top: 20px;
}

.stock {
    padding: 63px 0 97px 0;
}

.stock__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.stock__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 260px;
    text-align: center;
    color: var(--white-color);
    text-transform: uppercase;
    background-color: #211616;
}

.stock__item-container {
    position: relative;
}

.stock__item-image {
    position: absolute;
    opacity: 50%;
}

.stock__item:not(.stock__item--last) {
    margin: 0 0 30px;
}

.stock__item--last {
    width: 100%;
    height: 180px;
}

.stock__item-name {
    font-size: 18px;
    line-height: 22px;
}

.stock__item-category {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: var(--pink-color);
}

.fetured {
    text-align: center;
}

.featured-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
}

.fetured__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin: 0 0 48px;
    color: #9F9F9F;
}

.fetured__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
}

.fetured__item {
    width: 360px;
    background-color: var(--gray-bkg-color);
    position: relative;
}

.fetured__item:nth-child(1),
.fetured__item:nth-child(2),
.fetured__item:nth-child(3) {
    margin: 0 0 30px;
}

.fetured__item:hover .fetured__item-img,
.fetured__item:focus .fetured__item-img {
    filter: brightness(55%);
}

.fetured__item:hover .fetured__item-button,
.fetured__item:focus .fetured__item-img {
    display: block;
}

.fetured__item-button:hover {
    background-color: var(--pink-color);
}

.fetured__item-button {
    display: none;
    position: absolute;
    top: 190px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 14px;
    line-height: 17px;
    color: var(--white-color);
    padding: 11px 16px 8px 13px;
    background-color: transparent;
    border: 1px solid var(--white-color);
}

.fetured__item-header {
    margin: 0 0 12px;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
}

.fetured__item-text {
    margin: 0 0 18px;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
}

.fetured__item-price {
    font-size: 16px;
    line-height: 19px;
    color: var(--pink-color);
}

.fetured__item-container {
    padding: 25px 29px 20px 16px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.fetured__item-button-browse {
    border: 1px solid #FF6A6A;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    padding:  14.5px 38.5px 13.5px 38.5px;
    margin-top: 48.5px;
    margin-bottom: 95.5px;
    background-color: transparent;
}
.fetured__item-button-browse:hover, .fetured__item-button-browse:focus{
    border: 1px solid #FFF;
    color: #FFF;
    background-color: var(--pink-color);
}
.advantages{
    height: 341px;
    background-color: #222224;
    margin: 0 auto;
}
.advantages__list{
    display: flex;
    padding-top: 103px;
    justify-content: space-between;
    
}
.advantages__list-item{

    width: 300px;
    position: relative;
}
.list-item__icon{
    position: absolute;
padding-left: 130px;
}

.list-item__title{
    font-size: 19.96px;
    font-weight: 400;
line-height: 24px;
color: #FBFBFB;
    padding-top: 60px;
    padding-bottom: 16px;
    text-align: center;
}
.list-item__text{
font-weight: 300;
font-size: 13.972px;
line-height: 17px;
text-align: center;
color: #FBFBFB;
    text-align: center;
}
.footer{
background-image: url(/img/subscribe-background.png);
}
.feedback{ 
    background: rgba(244, 244, 244, 0.7);
    min-height: 448px;

}
.feedback__list{
    display: flex;
    justify-content: space-between;
}
.feedback__list-object{
    text-align: center;
    width: 359px;
    padding-top: 98px;
}

.list-object__review{
font-size: 20px;
line-height: 24px;
text-align: center;
color: #222224;
    font-family: italic;
    padding-top: 30px;
}
.list-object__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    text-transform: uppercase;
    padding-top: 52px;
}
.list-object__text {
        font-weight: 400;
    font-size: 18px;
    line-height: 167.2%;
    text-transform: uppercase;
}
.copyreight{
    min-height: 79px;
    background: #222224;
    padding-left: 230px;
    padding-right: 230px;
    justify-content: space-between;
    display: flex;
}
.copyreight__text{
    font-size: 16px;
line-height: 19px;
    color: rgba(251, 251, 251, 1);
    padding-top: 30px;
}
.copyreight__list{
    display: flex;
    padding-top: 24px;
}
.copyreight__list-item{
    padding-right: 6px;
}
.list-object__email{
    position: relative;
    display: flex;
    padding-top: 32px;
}
.list-object__email-write{
    background-color: #E1E1E1;
    Width: 300px;
Height: 48px;
    font-size: 14px;
line-height: 17px;
    color: #222224;
   border-radius: 50px 0 0 50px;
    border-color: transparent;
    padding-left: 22px;
}
.list-object__subs {
    position: absolute;
    font-size: 14px;
line-height: 17px;
    color: #FFFFFF;
       border-radius: 0 50px 50px 0;
    background-color: var(--pink-color);
    Width: 100px;
Height: 54px;
    border-color: transparent;
    margin-left: 256px;
}