
.card {
    min-height: 998px;
    display: flex;
    justify-content: space-around;
    padding-top: 96px;

    @include tablet {
        flex-direction: column;
        padding-top: 59px;
        align-items: center;
    }

    @include phone {
        flex-direction: column;
        padding-top: 39px;
        align-items: center;

    }

    .card__main-good {
        display: flex;
        max-height: 306px;
        max-width: 652px;
        box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
        position: relative;
        margin-bottom: 40px;


        @include phone {
            margin-bottom: 32px;
            box-shadow: 8px 8px 21px rgba(0, 0, 0, 0.13);
        }

        .main-good__info {
            width: 390px;
            height: 306px;

            @include tablet {
                width: 62vw;
            }

            @include phone {
                height: 188px;
                width: 57vw;
            }

            .main-good__info-title {
                text-transform: uppercase;
                font-size: 24px;
                line-height: 29px;
                font-weight: 400;
                padding-left: 31px;
                padding-top: 22px;
                padding-bottom: 42px;
                width: 50%;

                @include phone {
                    font-size: 16px;
                    line-height: 20px;
                    padding-left: 17px;
                    padding-top: 13px;
                    padding-bottom: 26px;
                    width: 63%;
                }
            }

            .main-good__info-cancel {
                position: absolute;
                margin-left: 350px;
                top: 28px;

                @include phone {
                    left: -20px;
                    top: 20px;
                    Width: 10px;
                    Height: 11px;
                }
            }

            .main-good__info-list {
                text-decoration: none;
                padding-left: 31px;

                @include phone {
                    padding-left: 17px;
                }

                .info-list__text {
                    font-size: 22px;
                    line-height: 26px;
                    color: $dark-gray-color;

                    @include phone {
                        font-size: 14px;
                        line-height: 17px;
                    }
                }

                .info-list__price {
                    color: $pink-color;
                }

                .info-list__quantity {
                    border: 1px solid $light-gray-bkg;
                    color: $dark-gray-color;
                    padding-left: 16px;
                    padding-right: 16px;
                    margin-left: 24px;

                    @include phone {
                        padding-left: 9px;
                        padding-right: 9px;
                        margin-left: 15px;
                    }
                }
            }
        }

        .main-good__photo {
            height: 306px;
            width: 262px;

            @include phone {
                height: 188px;
                width: 143px;
            }
        }
    }

    .card__main-transition {
        margin-top: 72.5px;
        justify-content: space-between;

        @include phone {
            margin-top: 0;
        }

        .main-transition__list {
            display: flex;
            justify-content: space-between;

            @include tablet {
                justify-content: space-around;
            }

            @include phone {
                justify-content: space-around;
            }

            .main-transition__list-item {
                text-decoration: none;
            }

            .main-transition__list-button {
                text-transform: uppercase;
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
                border: 1px solid $gray-color;
                background-color: transparent;
                padding: 16.5px 39px 15.5px 40px;

                &:hover {
                    color: $white-color;
                    background-color: $pink-color;
                    border-color: $pink-color;
                }

                &:focus {
                    color: $white-color;
                    background-color: $pink-color;
                    border-color: $pink-color;
                }

                &:active {
                    color: $white-color;
                    background-color: $pink-color;
                    border-color: $pink-color;
                }

                @include phone {
                    font-size: 12px;
                    line-height: 14px;
                    padding: 9px 18px;
                }

            }
        }
    }

    .card__shipping {
        margin-left: 128px;

        @include tablet {
            margin: 0;
            padding-top: 64px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        @include phone {
            margin: 0;
            padding-top: 48px;
            display: flex;
            flex-direction: column;
        }

        .card__shipping-form {
            display: block;



            .shipping-form__title {
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: $black-color;
                padding-bottom: 20.5px;
                text-transform: uppercase;
            }

            .shipping-form__write {
                font-weight: 300;
                font-size: 13px;
                line-height: 16px;
                color: $black-color;
                border: 1px solid $gray-color;
                padding-left: 17px;
                height: 44px;
                width: 342px;
                margin-bottom: 21px;

                &:hover {
                    background-color: $pink-background;
                    border-color: $pink-color;
                    color: $pink-color;
                }

                &:focus {
                    background-color: $pink-background;
                    border-color: $pink-color;
                    color: $pink-color;
                }
            }

            .shipping-form__calc {
                text-transform: uppercase;
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
                border: 1px solid $gray-color;
                background-color: transparent;
                padding: 10px 15px 12px 14px;
                margin-bottom: 57.5px;
                color: $gray-text;

                &:hover {
                    color: $white-color;
                    background-color: $pink-color;
                    border-color: $pink-color;
                }

                &:focus {
                    color: $white-color;
                    background-color: $pink-color;
                    border-color: $pink-color;
                }

                &:active {
                    color: $white-color;
                    background-color: $pink-color;
                    border-color: $pink-color;
                }

                @include phone {
                    margin-bottom: 48px;
                }
            }
        }

        .card__shipping-total {
            background-color: $white-bkg-color;
            height: 214px;
            width: 360px;

            @include tablet {
                margin-top: 40px;
                margin-left: 15px;
            }

            @include phone {
                margin-bottom: 96px;

            }

            .shipping-total__sub {
                font-size: 13px;
                line-height: 13px;
                color: $gray-color;
                text-align: right;
                text-transform: uppercase;
                padding-top: 39px;
                padding-bottom: 12px;
                padding-right: 34px;
            }

            .shipping-total__grand {
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                text-transform: uppercase;
                text-align: right;
                padding-right: 34px;
                padding-bottom: 21px;

                .shipping-total__grand-pr {
                    padding-left: 20px;
                }

                .shipping-total__grand-price {
                    font-weight: 700;
                    color: $pink-color;
                    padding-left: 20px;
                }
            }

            .shipping-total__line {
                padding-left: 43px;
                padding-bottom: 17px;
            }

            .shipping-total__checkout {
                width: 273px;
                height: 50px;
                text-transform: uppercase;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: $white-color;
                background-color: $pink-color;
                border: 1px solid $pink-color;
                margin-left: 44px;
                transition: background-color 1s transform 1s;

                &:hover {
                    background-color: $white-color;
                    color: $pink-color;
                    transform: scale(1.1);
                }

                &:focus {
                    background-color: $white-color;
                    color: $pink-color;
                    transform: scale(1.1);
                }

                &:active {
                    background-color: $white-color;
                    color: $pink-color;
                }
            }
        }


    }
}
